@use "../../../../../theme";
@use "../../../../../breakpoints";

.menuModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: theme.$highlight;
  white-space: nowrap;
}
.previewsContainer {
  width: 85%;
}
.closeButtonContainer {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  margin-bottom: 100px;
}

.closeButtonContainer:hover {
  transform: scale(120%);
  -webkit-transform: scale(1.2, 1.2);
}

#showPreview {
  animation: showPreview 2s linear forwards;
}
#hidePreview {
  animation: hidePreview 1s linear forwards;
}
#showCloseButton {
  animation: showCloseButton 2s linear forwards;
}
#hideCloseButton {
  animation: hideCloseButton 0.3s 0.2s linear forwards;
}

@keyframes showPreview {
  0%,
  55% {
    transform: translateY(300%);
  }
  64% {
    transform: translateY(5%);
  }
  66% {
    transform: translateY(-4.5%);
  }
  69% {
    transform: translateY(-8%);
  }
  72% {
    transform: translateY(-11%);
  }
  75% {
    transform: translateY(-8%);
  }
  77% {
    transform: translateY(-5%);
  }
  79%,
  100% {
    transform: translateY(0%);
  }
}
@keyframes hidePreview {
  0% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(-5%);
  }
  25% {
    transform: translateY(-8%);
  }
  38% {
    transform: translateY(-10%);
  }
  51% {
    transform: translateY(-8%);
  }
  61% {
    transform: translateY(-4.5%);
  }
  68% {
    transform: translateY(5%);
  }
  90%,
  100% {
    transform: translateY(300%);
  }
}

@keyframes showCloseButton {
  0%,
  75% {
    transform: translateX(-200px);
  }
  79% {
    transform: translateX(-50px);
  }
  85%,
  100% {
    transform: translateX(0px);
  }
}

@keyframes hideCloseButton {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

/* ******************* TABLET VIEW ******************* */
@media (min-width: breakpoints.$tablet) {
  .closeButtonContainer {
    left: 30px;
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: breakpoints.$desktop) {
  .previewsContainer {
    width: 65%;
  }
  .closeButtonContainer {
    left: 58px;
    width: 55px;
    height: 55px;
  }
}

/* ******************* DESKTOP VIEW 2 ******************* */
@media (min-width: 980px) {
  .previewsContainer {
    width: 55%;
  }
}

/* ******************* BIG DESKTOP VIEW ******************* */
@media (min-width: breakpoints.$big-desktop) {
  .closeButtonContainer {
    left: 66px;
    width: 60px;
    height: 60px;
  }
}
