@use "../../theme.scss";

h1 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 8px;
  display: inline;
  transition: 0.4s ease-in-out;
}
h2 {
  font-size: 32px;
  font-weight: normal;
  display: inline;
  position: relative;
  z-index: 2;
  transition: 0.4s ease-in-out;
}
.highlightText {
  animation: color 4s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.greeting {
  color: theme.$alternate;
  text-align: center;
}
@keyframes color {
  0% {
    color: #f54b64;
  }
  50% {
    color: #f78361;
  }
  100% {
    color: #f54b64;
  }
}

/* ******************* TABLET VIEW ******************* */
@media (min-width: 481px) {
  h1 {
    font-size: 48px;
    padding-bottom: 8px;
  }
  h2 {
    font-size: 40px;
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: 769px) {
  h1 {
    font-size: 72px;
    padding-bottom: 8px;
  }
  h2 {
    font-size: 56px;
  }
}
