@use "../../theme.scss";
#desktopHeader {
  display: none;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 65px;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: theme.$secondary;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(227, 94, 103, 0.95);
  overflow-y: hidden;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color: theme.$alternate;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: theme.$primary;
  background-color: theme.$alternate;
}

.overlay .closebtn {
  cursor: pointer;
  position: absolute;
  top: -3px;
  right: 16px;
  font-size: 60px;
  padding: 8px;
  text-decoration: none;
  color: theme.$alternate;
  display: block;
  transition: 0.3s;
}

/* ******************* TABLET VIEW ******************* */
@media (min-width: 481px) {
  .header {
    height: 65px;
  }

  .categoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .burgerMenu {
    display: none;
  }

  .links {
    text-decoration: none;
    color: theme.$alternate;
    font-weight: bold;
    font-size: 100%;
    margin-right: 10px;
    margin-left: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
  }

  .links:hover {
    opacity: 50%;
    transform: translateY(-2px);
  }

  .selected {
    color: theme.$alternate;
  }

  .spacer {
    background-color: theme.$alternate;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    transform: rotate(45deg);
  }

  #desktopHeader {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .selectionIndicator {
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 8px solid theme.$highlight;
  }

  .selectorDown {
    animation: selectorDown 0.25s linear;
  }

  .selectorUp {
    animation: selectorUp 0.25s linear;
  }

  @keyframes selectorDown {
    0% {
      bottom: 10px;
    }
    50% {
      bottom: 5px;
    }
    100% {
      bottom: -15px;
    }
  }

  @keyframes selectorUp {
    0% {
      bottom: -15px;
    }
    50% {
      bottom: 5px;
    }
    100% {
      bottom: 10px;
    }
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: 769px) {
  .header {
    height: 80px;
  }

  .links {
    font-size: 125%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .spacer {
    width: 6px;
    height: 6px;
  }

  #desktopHeader {
    margin-left: 50px;
    margin-right: 50px;
  }

  .selectionIndicator {
    bottom: 14px;
  }

  @keyframes selectorDown {
    0% {
      bottom: 14px;
    }
    50% {
      bottom: 5px;
    }
    100% {
      bottom: -15px;
    }
  }

  @keyframes selectorUp {
    0% {
      bottom: -15px;
    }
    50% {
      bottom: 5px;
    }
    100% {
      bottom: 14px;
    }
  }
}

/* ******************* BIG DESKTOP VIEW ******************* */
@media (min-width: 1599px) {
  .header {
    height: 90px;
  }

  .links {
    font-size: 140%;
    margin-right: 18px;
    margin-left: 18px;
  }

  .spacer {
    width: 6px;
    height: 6px;
  }

  #desktopHeader {
    margin-left: 55px;
    margin-right: 55px;
  }

  .selectionIndicator {
    bottom: 16px;
  }

  @keyframes selectorDown {
    0% {
      bottom: 16px;
    }
    50% {
      bottom: 5px;
    }
    100% {
      bottom: -18px;
    }
  }

  @keyframes selectorUp {
    0% {
      bottom: -18px;
    }
    50% {
      bottom: 5px;
    }
    100% {
      bottom: 16px;
    }
  }
}
