@use "../../theme.scss";

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: theme.$secondary;
}

.links {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.spacer {
  background-color: white;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

#desktopHeader {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
/* ******************* TABLET VIEW ******************* */
@media (min-width: 481px) {
  .header {
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: 769px) {
  .header {
    height: 65px;
  }
}
