@use "../../theme";
.menuModal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: theme.$highlight;
  white-space: nowrap;
}
.closeButtonContainer {
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.closeButtonContainer:hover {
  transform: scale(120%);
  -webkit-transform: scale(1.2, 1.2);
}

#showCloseButton {
  animation: showCloseButton 1.55s linear forwards;
}

#hideCloseButton {
  animation: hideCloseButton 1s linear forwards;
}

@keyframes showCloseButton {
  0%,
  65% {
    pointer-events: none;
    bottom: -102px;
  }
  74% {
    bottom: 30px;
  }
  78% {
    bottom: 77px;
  }
  83% {
    bottom: 85px;
  }
  87% {
    bottom: 77px;
  }
  90% {
    bottom: 60px;
  }
  95%,
  100% {
    pointer-events: all;
    bottom: 47px;
  }
}
@keyframes hideCloseButton {
  0% {
    pointer-events: none;
    bottom: 47px;
  }
  100% {
    pointer-events: none;
    bottom: -102px;
  }
}

/* ******************* TABLET VIEW ******************* */
.closeButtonContainer {
  width: 65px;
  height: 65px;
}

@media (min-width: 481px) {
  @keyframes showCloseButton {
    0%,
    65% {
      pointer-events: none;
      bottom: -102px;
    }
    74% {
      bottom: 50px;
    }
    78% {
      bottom: 110px;
    }
    83% {
      bottom: 120px;
    }
    87% {
      bottom: 113px;
    }
    90% {
      bottom: 80px;
    }
    95%,
    100% {
      pointer-events: all;
      bottom: 65px;
    }
  }
  @keyframes hideCloseButton {
    0% {
      pointer-events: none;
      bottom: 65px;
    }
    100% {
      pointer-events: none;
      bottom: -102px;
    }
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: 481px) {
  @keyframes showCloseButton {
    0%,
    65% {
      pointer-events: none;
      bottom: -102px;
    }
    74% {
      bottom: 50px;
    }
    78% {
      bottom: 120px;
    }
    83% {
      bottom: 130px;
    }
    87% {
      bottom: 115px;
    }
    90% {
      bottom: 80px;
    }
    95%,
    100% {
      pointer-events: all;
      bottom: 83px;
    }
  }
  @keyframes hideCloseButton {
    0% {
      pointer-events: none;
      bottom: 83px;
    }
    100% {
      pointer-events: none;
      bottom: -102px;
    }
  }
}

/* ******************* BIG DESKTOP VIEW ******************* */
@media (min-width: 1921px) {
}
