h1 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 8px;
}
h2 {
  font-size: 32px;
  font-weight: normal;
  display: inline;
  background-color: #252a37;
  position: relative;
  z-index: 2;
}

.greeting {
  color: white;
}
.n {
  position: relative;
  z-index: 1;
}
#prevAnimateN {
  animation: prevAnimateN 4s linear infinite;
}
#fullAnimateN {
  animation: fullAnimateN 4s linear infinite;
}
#nextAnimateN {
  animation: nextAnimateN 4s linear infinite;
}
#animatedText {
  position: absolute;
  margin-left: 9px;
  font-weight: bold;
  color: #252a37;
  z-index: 2;
  overflow: visible;
}
#animatedText::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: #e35e67;
  overflow: hidden;
  animation: reveal 4s linear infinite, color 4s linear infinite,
    spin 4s linear infinite;
}

@keyframes prevAnimateN {
  0%,
  95% {
    margin-left: 0px;
  }
  100% {
    margin-left: -16px;
  }
}
@keyframes fullAnimateN {
  0% {
    margin-left: -16px;
  }
  5% {
    margin-left: 0px;
  }
  95% {
    margin-left: 0px;
  }
  100% {
    margin-left: -16px;
  }
}
@keyframes nextAnimateN {
  0% {
    margin-left: -16px;
  }
  5%,
  100% {
    margin-left: 0px;
  }
}
@keyframes reveal {
  0%,
  7.5%,
  75% {
    width: 0;
    color: #252a37;
  }
  52.5%,
  67.5% {
    width: 103%;
  }
}
@keyframes color {
  0% {
    color: #f54b64;
  }
  33% {
    color: #f78361;
  }
  66% {
    color: #f54b64;
  }
  100% {
    color: #f78361;
  }
}
@keyframes spin {
  0%,
  75% {
    transform: rotateX(0deg);
    border-right: 2px solid #e35e67;
    border-radius: 0%;
  }
  83.3% {
    transform: rotateX(180deg);
    border-right: 8px solid #e35e67;
    border-radius: 4px;
  }
  91.6% {
    transform: rotateX(540deg);
    border-right: 4px solid #e35e67;
    border-radius: 2px;
  }
  100% {
    transform: rotateX(720deg);
    border-right: 2px solid #e35e67;
    border-radius: 0%;
  }
}

/* ******************* TABLET VIEW ******************* */
@media (min-width: 481px) {
  h1 {
    font-size: 48px;
    padding-bottom: 8px;
  }
  h2 {
    font-size: 40px;
  }

  #animatedText {
    margin-left: 11px;
  }

  @keyframes prevAnimateN {
    0%,
    95% {
      margin-left: 0px;
    }
    100% {
      margin-left: -20px;
    }
  }
  @keyframes fullAnimateN {
    0% {
      margin-left: -20px;
    }
    5% {
      margin-left: 0px;
    }
    95% {
      margin-left: 0px;
    }
    100% {
      margin-left: -20px;
    }
  }
  @keyframes nextAnimateN {
    0% {
      margin-left: -20px;
    }
    5%,
    100% {
      margin-left: 0px;
    }
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: 769px) {
  h1 {
    font-size: 72px;
    padding-bottom: 8px;
  }
  h2 {
    font-size: 56px;
  }

  #animatedText {
    margin-left: 13px;
  }

  @keyframes prevAnimateN {
    0%,
    95% {
      margin-left: 0px;
    }
    100% {
      margin-left: -26px;
    }
  }
  @keyframes fullAnimateN {
    0% {
      margin-left: -30px;
    }
    5% {
      margin-left: 0px;
    }
    95% {
      margin-left: 0px;
    }
    100% {
      margin-left: -30px;
    }
  }
  @keyframes nextAnimateN {
    0% {
      margin-left: -30px;
    }
    5%,
    100% {
      margin-left: 0px;
    }
  }
}
