@use "./theme";

$section-height: calc(100vh - 65px);
$section-min-height: 450px;
.screen {
  height: $section-height;
  min-height: $section-min-height;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  z-index: 1;
}
.headerContainer {
  z-index: 2;
  display: block;
}
.greetingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  z-index: 1;
}
.footerContainer {
  position: absolute;
  bottom: 0px;
  height: 125px;
  z-index: 1;
}
.menuModalContainer {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  overflow: hidden;
}
#menu-open {
  animation: open-menu 0.5s 0.75s linear forwards;
}
#menu-closed {
  animation: close-menu 0.5s linear forwards;
}
#show-greeting {
  animation: show-greeting 1s linear forwards;
}
#hide-greeting {
  animation: hide-greeting 0.65s linear forwards;
}
#show-footer {
  animation: show-footer 1s linear forwards;
}
#hide-footer {
  animation: hide-footer 0.65s linear forwards;
}

@keyframes open-menu {
  0% {
    width: 0;
  }
  20% {
    width: 3%;
  }
  35% {
    width: 10%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}
@keyframes close-menu {
  0% {
    width: 100%;
  }
  50% {
    width: 20%;
  }
  65% {
    width: 10%;
  }
  80% {
    width: 3%;
  }
  100% {
    width: 0;
  }
}

@keyframes show-greeting {
  0%,
  50% {
    transform: translateY(-75%);
  }
  66.5% {
    transform: translateY(-5%);
  }
  72% {
    transform: translateY(2.5%);
  }
  75% {
    transform: translateY(4%);
  }
  82.5% {
    transform: translateY(5%);
  }
  87.5% {
    transform: translateY(4.5%);
  }
  90% {
    transform: translateY(4%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes hide-greeting {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(4%);
  }
  44% {
    transform: translateY(4.5%);
  }
  50% {
    transform: translateY(5%);
  }
  65% {
    transform: translateY(4%);
  }
  75% {
    transform: translateY(2.5%);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(-75%);
  }
}
@keyframes show-footer {
  0%,
  50% {
    pointer-events: none;
    bottom: -170px;
  }
  66.5% {
    bottom: -80px;
  }
  72% {
    bottom: 25px;
  }
  75% {
    bottom: 40px;
  }
  82.5% {
    bottom: 50px;
  }
  87.5% {
    bottom: 45px;
  }
  90% {
    bottom: 40px;
  }
  100% {
    pointer-events: all;
    bottom: 0;
  }
}
@keyframes hide-footer {
  0% {
    pointer-events: none;
    bottom: 0;
  }
  33% {
    bottom: 40px;
  }
  44% {
    bottom: 45px;
  }
  50% {
    bottom: 50px;
  }
  65% {
    bottom: 40px;
  }
  75% {
    bottom: 25px;
  }
  90% {
    bottom: -140px;
  }
  100% {
    pointer-events: none;
    bottom: -170px;
  }
}

/* ******************* TABLET VIEW ******************* */
@media (min-width: 481px) {
  .main {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footerContainer {
    height: 150px;
  }
}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: 769px) {
  $section-height: calc(100vh - 80px);
  $section-min-height: 500px;

  .screen {
    height: $section-height;
    min-height: $section-min-height;
  }
  .main {
    padding-top: 80px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .footerContainer {
    height: 170px;
  }
}

/* ******************* BIG DESKTOP VIEW ******************* */
@media (min-width: 1899px) {
  $section-height: calc(100vh - 90px);
  $section-min-height: 600px;

  .screen {
    height: $section-height;
    min-height: $section-min-height;
  }
  .main {
    padding-top: 90px;
  }
}
