@use "../../../../theme";
@use "../../../../breakpoints";

.experience {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.experiencePreviewsContainer {
    display: grid;
    width: 100%;
    height: fit-content;
    margin-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, 232px);
}
.experiencePreviewContainer {
    width: 232px;
    height: 240px;
}
.fullExperienceContainer {
    margin-top: 32px;
    width: 100%;
    padding-bottom: 32px;
    justify-content: center;
}

/* ******************* TABLET VIEW ******************* */
@media (min-width: breakpoints.$tablet) {}

/* ******************* DESKTOP VIEW ******************* */
@media (min-width: breakpoints.$desktop) {
    .experiencePreviewsContainer {
        margin: 0px;
        padding-bottom: 32px;
        padding-top: 32px;
        max-width: 1000px;
    }
    .fullExperienceContainer {
        align-items: center;
    }    
}

/* ******************* CENTER PREVIEWS, NO MORE OVERFLOW ******************* */
@media (min-width: 792px) {
    .experience {
        align-items: center;
    }
}

/* ******************* BIG DESKTOP VIEW ******************* */
@media (min-width: breakpoints.$big-desktop) {
    .experiencePreviewsContainer {
        grid-template-columns: repeat(auto-fill, 278.4px);
        gap: 32px;
    }
    .experiencePreviewContainer {
        width: 278.4px;
        height: 288px;
    }
}
